/* ==========================================================
   CRANE PLATFORM LABS FRAMEWORK V1
   MINI SENSORY CLUB
========================================================== */

:root{

    --primary:#117d70;
    --pink:#f585a5;
    --yellow:#f0cb76;
    --blue:#6ac3f0;
    --purple:#c691d6;
    --coral:#f0664c;

    --white:#ffffff;
    --light:#f8f9fa;
    --dark:#222222;

    --container:1200px;

    --radius:18px;

}

/* ---------- RESET ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:var(--white);

    color:var(--dark);

    line-height:1.6;

}

img{

    display:block;

    max-width:100%;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    cursor:pointer;

    border:none;

    font:inherit;

}

/* ---------- GLOBAL ---------- */

.container{

    width:min(92%, var(--container));

    margin:auto;

}

section{

    padding:90px 0;

}

h1{

    font-size:3.6rem;

    margin-bottom:20px;

}

h2{

    font-size:2.5rem;

    margin-bottom:20px;

}

h3{

    font-size:1.6rem;

    margin-bottom:10px;

}

p{

    margin-bottom:20px;

}

@media(max-width:768px){

h1{

font-size:2.5rem;

}

h2{

font-size:2rem;

}

}